*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ab9d9;
    padding: 15px 40px;
    width: 100%;
}

.header-img img{
    width: 180px;
}

.svg{
    width: 20px;
    height: 20px;
    color: #2e2e2e;
}

.header-social{
    display: flex;
    gap: 20px;
    
}

 .header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
 }

 .header-nav a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .header-nav{
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .imgvideo{
    background-size: cover;
    background-image: url(https://nordicsockcompany.com/cdn/shop/files/notrthern-lights-nordic-sock-company.webp?v=1699104281);
    height:475px;
    width: 100%;
    background-position: center;
    margin-bottom: 45px;
}

.imgvideo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    gap:  20px;
}

.imgvideo div{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}

.imgvideo h2 {
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.imgvideo strong{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
 
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.svg1{
    height: 20px;
}

h2, strong, p , a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration: underline color(srgb rgba(255, 0, 0, 0) green blue);
  
}


.i1{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/classic-nordic-socks-main_600x600.jpg?v=1623005336);
    background-size:cover ;
    height: 343px;
    width: 334px;        
}
.i2{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/swedish-lagom-wool-blend-socks_600x600.jpg?v=1631959455);
    background-size:cover ;
    height: 343px;
    width: 334px;
}
.i3{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1447_White_d35ef655-74c5-4f40-9816-5d7bccd32fa1_600x600.jpg?v=1660749391);
    background-size:cover ;
    height: 345px;
    width: 334px;
}
.i4{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1452_Whitecopy_600x600.jpg?v=1635954934);
    background-size:cover ;
    height: 343px;
    width: 334px;
}
.i5{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1459_Whitecopy_600x600.jpg?v=1635611351);
    background-size:cover ;
    height: 343px;
    width: 334px;
    }
.i6{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1447_White_600x600.jpg?v=1636644130);
    background-size:cover ;
    height: 343px;
    width: 334px;
}
.i7{
    background-image: url(http://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1456_White_600x600.jpg?v=1635608967);
    background-size:cover ;
    height: 343px;
    width: 334px;
}
.i8{
    background-image: url(https://nordicsockcompany.com/cdn/shop/products/VL_037_NordicSock_1446_White_600x600.jpg?v=1635449612);
    background-size:cover ;
    height: 343px;
    width: 334px;
}
.i9{
    background-image: url(https://nordicsockcompany.com/cdn/shop/files/boot-socks-green_600x600.jpg?v=1694420360);
    background-size:cover ;
    height: 343px;
    width: 334px;
}

.ayas{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.ayasora{
    margin: 30px 0;
}

.ayass{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.p3{
    font-size: 15px;
    color:#3a3a3a;
    margin-top: 20px;
    margin-bottom:20px ;
}
.p4{
    color:#333232;
    font-size: 20px;
}

.h31{
    color: gray;
}