*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ab9d9;
    padding: 15px 40px;
    width: 100%;
}

.header-img img{
    width: 180px;
}

.svg{
    width: 20px;
    height: 20px;
    color: #2e2e2e;
}

.header-social{
    display: flex;
    gap: 20px;
    
}

 .header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
 }

 .header-nav a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .header-nav{
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .imgvideo{
    background-size: cover;
    background-image: url(https://nordicsockcompany.com/cdn/shop/files/notrthern-lights-nordic-sock-company.webp?v=1699104281);
    height:475px;
    width: 100%;
    background-position: center;
    margin-bottom: 45px;
}

.imgvideo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    gap:  20px;
}

.imgvideo div{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}

.imgvideo h2 {
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.imgvideo strong{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
 
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.svg1{
    height: 20px;
}

h2, strong, p , a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration: underline color(srgb rgba(255, 0, 0, 0) green blue);
  
}


